extends layout

block content
  h1= title
  trello-connect
  .row
    .col-md-4(ng-controller='QuoteCtrl')
      h2 Quote of the day
      div#quote-of-the-day
      ul#quotes(ng-cloak)
        li(ng-repeat="quote in quotes")
          .quote
            a(href='{{::quote.url}}', target='_blank') {{quote.name}}

    .col-md-4
      h2 Boards
      ul#boards
        p Loading Boards...

block footer
  script#card(type='text/html')
    li.bg-info
      a(href='{{url}}', target='_blank') {{name}}

  script#board(type='text/html')
    li.bg-info
      a(href='{{url}}') {{name}}
