extends layout

block content
  h1= title
  p Welcome to my page
  // Wrapper
  #connectLink Connect!
  .row
    .col-md-4
      h2 Cards
      ul#cards
    .col-md-4
      h2 Boards
      ul#boards
    .col-md-4
      p Other stuff

block footer
  script#card(type='text/html')
    li.bg-info
      p url: {{url}}
      p text: {{name}}

  script#board(type='text/html')
    li.bg-info
      a(href='{{url}}') {{name}}
