extends layout

block content
  h1= title
  #connectLink Connect!
  .row
    .col-md-4
      h2 Incoming!
      ul#cards
    .col-md-4
      h2 Quote of the day
      div#quote-of-the-day

    .col-md-4
      h2 Boards
      ul#boards

block footer
  script#card(type='text/html')
    li.bg-info
      a(href='{{url}}', target='_blank') {{name}}

  script#board(type='text/html')
    li.bg-info
      a(href='{{url}}') {{name}}
