extends layout

block content
  h1= title
  #connectLink Connect!
  .row
    .col-md-4
      h2 Cards
      ul#cards
    .col-md-4
      h2 Boards
      ul#boards
    .col-md-4

block footer
  script#card(type='text/html')
    li.bg-info
      a(href='{{url}}') {{name}}

  script#board(type='text/html')
    li.bg-info
      a(href='{{url}}') {{name}}
