doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='/javascripts/global.js')
        script(src='https://api.trello.com/1/client.js?key=574bc861c79610e922b508b12e6d0f7c')
