doctype html
html(ng-app='jashboard')
    head
        title= title
        link(rel='stylesheet', href='/assets/style.css')
        link(rel='stylesheet', href='/assets/vendor.css')
    body
        .container-fluid
            block content
        block footer
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='/assets/vendor.js')
        script(src='https://api.trello.com/1/client.js?key=574bc861c79610e922b508b12e6d0f7c')
        script(src='/assets/application.js')
        script(src='/assets/templates.js')
